<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/car.png' %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Smart Car Control</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/gaia.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'assets/css/fonts/pe-icon-7-stroke.css' %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a href="http://localhost/IoT_SelfDirivingCar/smartview.php" class="navbar-brand">
                    Self Driving Car Control
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro" target="_blank">Get PRO Version</a>
                    </li>
                    <li class="dropdown">
                        <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share-alt"></i> Share
                        </a>
                        <ul class="dropdown-menu dropdown-danger">
                            <li>
                                <a href="#"><i class="fa fa-facebook-square"></i> Facebook</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i> Instagram</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" class="btn btn-danger btn-fill">Free Download</a>
                    </li>
                </ul>
            </div>
            /.navbar-collapse
        </div>
    </nav> -->

    <div class="section section-header">
        <div class="parallax filter filter-color-purple">
            <div class="image"
                style="background-image: ''">
                <img src="{% static 'assets/img/header-1.jpeg' %}" alt="" width = "100%">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>IoT Project</p>
                        <h1 class="title-modern">Self Driving Car Video Stream</h1>
                        <!-- <h3>Probably the most amazing self driving car!</h2> -->
                        <!-- <div class="separator line-separator">♦</div> -->
                        <div class="separator line-separator"><img src="{% static 'assets/img/rentacar.png' %}" alt="" height = "40px"></div>
                    </div>

                    <!-- <div class="button-get-started">
                        <div class="row">
                            <form action="" method="POST">
                                <div class="col-sm-6" class="text-center">
                                    <input type="submit" value = "START" name="1" class="btn btn-danger btn-fill btn-lg">
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" value="STOP" name="0" class="btn btn-white btn-fill btn-lg ">
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <a href="{% url 'stream' %}" id="" class="btn btn-default btn-fill btn-lg">STREAM</a>
                        </div>
                    </div> -->
                    <div class="button-get-started">
                        <div class="row">
                            <!-- <div class="col-sm-4">
                                <video width="320" height="240" controls>
                                    <source src="" />
                                </video>
                            </div> -->
                            <div class="col-sm-12" class="text-center">
                                <!-- <input type="submit" value = "START" name="1" class="btn btn-danger btn-fill btn-lg"> -->
                                <a href="{% url 'stop' %}" id="" class="btn btn-default btn-fill btn-lg" style="font-size: 34px;
                                width: 20%;
                                border-radius: 30%;
                                background: red;
                                border: 1px solid red;">STOP</a>
                            </div>
                            <!-- <div class="col-sm-4">
                                <video width="320" height="240" controls>
                                    <source src="" />
                                </video>
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-12">
                                <video width="320" height="240" controls>
                                    <source src="" />
                                </video>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-12 text-center">
                                <br>
                                <span id="details" style="    margin-top: 20px;
                                margin: 20px;
                                padding: 20px;
                                font-size: 24px;">
                                    Car took a left! <br>
                                </span>
                                <span id="details" style="    margin-top: 20px;
                                margin: 20px;
                                padding: 20px;
                                font-size: 24px;">
                                    
                                    Navigating right! <br>
                                </span>
                            </div>
                            <span id="details" style="    margin-top: 20px;
                                margin: 20px;
                                padding: 20px;
                                font-size: 24px;">
                                    On the way to you <br>
                                </span>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Navigation Details -->
    <div class="section" style="width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="title-area">
                        <h2>Navigation Details</h2>
                        <!-- <div class="separator separator-danger">✻</div> -->
                        <div class="separator separator-danger">
                            <img src="{% static 'assets/img/car.png' %}" alt="" height = "40px" />
                        </div>
                        <!-- <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                            <a href="{% url 'stop' %}" id="" class="btn btn-default btn-fill btn-lg" style="font-size: 34px;
                            width: 20%;
                            border-radius: 30%;
                            background: red;
                            border: 1px solid red;">STOP</a>
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                    <div class="col-md-6 text-center">
                            <video width="575" height="340" controls style="margin-right: 20px;">
                                <source src="" />
                            </video>
                        
                    </div>
                    <div class="col-md-6 text-center">
                        <video width="575" height="340" controls style="margin-left: 20px;">
                                <source src="" />
                            </video>
                    </div>
                </div> -->
                <br>
                <hr style="background: black;">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4 text-center" style="height: 250px;">
                        <h3 style="color: black;">Details</h3>
                        <!-- <div class="separator separator-danger"><img src="{% static 'assets/img/car.png' %}" alt="" height = "40px" /></div> -->
                        <p class="description" id="current_status">Current Status</p>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
    </div>

</body>

<!--   core js files    -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.js" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="assets/js/modernizr.js"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="assets/js/gaia.js"></script>

</html>
